* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* outline:1px solid red; */
}

body {
	font-family: 'Source Code Pro', monospace;
}

.centrer{
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
    padding: 50px 50px;
    gap: 5em;
}




/* css ColorClick */

.click{
   background: wheat; 
   display: flex;
   justify-content: center;
   flex-direction: row;
   align-items: center;

}

.boxeun{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.boxedeux{

display:flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin : 50px 50px;
background: white;
}

